.container__top {
  height: 50px;
  width: 100%;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.icon {
  font-size: 18px;
}

.top__left {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;

  color: #fff;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #a16728;
  transition: color 0.4s;
}

.link:hover {
  color: #fff;
}

.top__center {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: transparent;
  border: 1px solid hsl(0, 0%, 8%);
}

.searchbar i {
  font-size: 18px;
  padding-right: 5px;
  color: #f2f2f2;
}

.searchInput {
  border: none;
  width: 100%;
  height: 28px;
  outline: none;
  background: transparent;
  color: #f2f2f2;
}

.top__right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.top__link {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.top__link:hover {
  color: #a16728;
}

.top__icons {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.top__icon-item {
  position: relative;
}

.top__icon-item i {
  cursor: pointer;
  transition: color 0.3s;
}

.top__icon-item i:hover {
  color: #a16728;
}

.top__badge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: grid;
  place-items: center;
  font-size: 10px;
}

.top__img {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
